*{
    box-sizing: border-box;
    max-width: 900px;
    max-height: 1500px;
    padding: 5px;
}


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienImg{
    width: 170px;
}
.todo-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

